{% extends "base.html" %}

{% block content %}
<section>
  <h1 class="page-heading">Michelangelo Gubinelli</h1>

    <p class="intro">20yo mathematics student. My interests lie in software development, design, research and various other things (see below).</p>

  <div class="post-list-wrap">
    {% set projects = get_section(path="projects/_index.md") %}
    {% include "partials/projects-list.html" %}
  </div>

  <div class="post-list-wrap">
    {% set all_blog = get_section(path="blog/_index.md") %}
    <div class="post-list">
      {% for post in all_blog.pages %}
        <a class="post-link" href="{{ post.permalink }}">
          <div class="post-row">
            <time datetime="{{ post.date }}">{{ post.date | date(format="%B %-d, %Y") }}</time>
            <p>{{ post.title }}</p>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>

  <p class="quote">I have made this letter longer than usual because I lack the time to make it shorter. — Blaise Pascal</p>

</section>
{% endblock content %}
